---
import { getCollection } from 'astro:content';
import DocsLayout from '@/theme/docs/DocsLayout.astro';
export async function getStaticPaths() {
  const docsEntries = await getCollection('docs', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  });
  return docsEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const { remarkPluginFrontmatter } = await entry.render();
---

<DocsLayout isHome={false} banner={entry.data.image} title={entry.data.title} description={entry.data.description}>
  <div class="markdown-content onload-animation mb-6">
    <Content />
  </div>
</DocsLayout>
