---
import { getCollection } from "astro:content";
import DocLayout from "@/layouts/DocLayout.astro";

const posts = (await getCollection("docs")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<DocLayout>
	<Fragment slot="beforeContainer">
		<div>
			<div
				class="h-[calc(100vh-5rem)] w-full flex flex-col justify-center items-center"
				style="background: url(/heroimg.webp) center/cover no-repeat;;"
			>
				<h1
					class="text-7xl leading-normal bg-clip-text text-transparent bg-gradient-to-r from-purple-500 to-pink-500"
				>
					lytree Blog
				</h1>
				<p class="text-3xl">desc</p>
			</div>
		</div>
	</Fragment>
	<Fragment slot="main">
		<section class="h-full">
			<ul>
				{
					posts.map((post) => (
						<li>
							<a href={`/docs/post/${post.slug}/`}>
								<h4 class="title">{post.data.title}</h4>
							</a>
						</li>
					))
				}
			</ul>
		</section>
	</Fragment>

	<style lang="scss"></style>
</DocLayout>
