---
import { getCollection } from "astro:content";
import DocHomeLayout from "@/layouts/DocHomeLayout.astro";
import PostCard from "@components/docs/PostCard.vue";
import type { only } from "node:test";
// import { siteUtils } from "@/utils/utils";

const posts = (await getCollection("docs")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<DocHomeLayout>
	<!-- <Fragment slot="beforeContainer">
		<div class="hero-shoot">
			<div
				class="hero-img"
				style="background: url(/heroimg.webp) center/cover no-repeat;"
			>
			</div>
			<div class="hero-title">lytree Blog</div>
			<div class="hero-desc">desc</div>
		</div>
	</Fragment>
	<Fragment slot="inContainer">
		<div class="posts-list">
			{
				posts.map((post) => (
					<PostCard
						client:only="vue"
						post={post}
						defaultCover={"https://lipsum.app/id/2/1600x1200"}
					/>
				))
			}
		</div>

		<style lang="scss">
			.hero-shoot {
				position: relative;
				display: flex;
				flex-direction: column;
				width: 100vw;
				height: 100vh;
				.hero-img {
					position: absolute;
					z-index: 1;
					inset: 0;
					&::after {
						position: absolute;
						z-index: 2;
						display: block;
						content: " ";
						opacity: 0.2;
						inset: 0;
					}
				}

				.hero-title {
					position: relative;
					z-index: 3;
					display: block;
					margin: calc(50vh - 160px - 3rem) auto 2rem;
					background: linear-gradient(
						315deg,
						hsl(323deg 100% 79%) 25%,
						hsl(32deg 100% 61%)
					);
					-webkit-background-clip: text;
					background-clip: text;
					font-size: 80px;
					-webkit-text-fill-color: transparent;
				}
				.hero-desc {
					z-index: 3;
					margin: 0 auto;
					font-size: 40px;
				}
			}
			.posts-list {
				margin: 1rem;
			}
		</style>
	</Fragment> -->
</DocHomeLayout>
