:root {
    --p-card-background: var(--p-content-background);
    --p-card-border-radius: var(--p-border-radius-xl);
    --p-card-color: var(--p-content-color);
    --p-card-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
    --p-card-body-padding: 1.25rem;
    --p-card-body-gap: 0.5rem;
    --p-card-caption-gap: 0.5rem;
    --p-card-title-font-size: 1.25rem;
    --p-card-title-font-weight: 500;
    --p-card-subtitle-color: var(--p-text-muted-color);
}

.p-card {
    background: var(--p-card-background);
    color: var(--p-card-color);
    box-shadow: var(--p-card-shadow);
    border-radius: var(--p-card-border-radius);
    display: flex;
    flex-direction: column;
}

.p-card-caption {
    display: flex;
    flex-direction: column;
    gap: var(--p-card-caption-gap);
}

.p-card-body {
    padding: var(--p-card-body-padding);
    display: flex;
    flex-direction: column;
    gap: var(--p-card-body-gap);
}

.p-card-title {
    font-size: var(--p-card-title-font-size);
    font-weight: var(--p-card-title-font-weight);
}

.p-card-subtitle {
    color: var(--p-card-subtitle-color);
}