:root {
    --p-menubar-background: var(--p-content-background);
    --p-menubar-border-color: var(--p-content-border-color);
    --p-menubar-border-radius: var(--p-content-border-radius);
    --p-menubar-color: var(--p-content-color);
    --p-menubar-gap: 0.5rem;
    --p-menubar-padding: 0.5rem 0.75rem;
    --p-menubar-transition-duration: var(--p-transition-duration);
    --p-menubar-base-item-border-radius: var(--p-content-border-radius);
    --p-menubar-base-item-padding: var(--p-navigation-item-padding);
    --p-menubar-item-focus-background: var(--p-navigation-item-focus-background);
    --p-menubar-item-active-background: var(--p-navigation-item-active-background);
    --p-menubar-item-color: var(--p-navigation-item-color);
    --p-menubar-item-focus-color: var(--p-navigation-item-focus-color);
    --p-menubar-item-active-color: var(--p-navigation-item-active-color);
    --p-menubar-item-padding: var(--p-navigation-item-padding);
    --p-menubar-item-border-radius: var(--p-navigation-item-border-radius);
    --p-menubar-item-gap: var(--p-navigation-item-gap);
    --p-menubar-item-icon-color: var(--p-navigation-item-icon-color);
    --p-menubar-item-icon-focus-color: var(--p-navigation-item-icon-focus-color);
    --p-menubar-item-icon-active-color: var(--p-navigation-item-icon-active-color);
    --p-menubar-submenu-padding: var(--p-navigation-list-padding);
    --p-menubar-submenu-gap: var(--p-navigation-list-gap);
    --p-menubar-submenu-background: var(--p-content-background);
    --p-menubar-submenu-border-color: var(--p-content-border-color);
    --p-menubar-submenu-border-radius: var(--p-content-border-radius);
    --p-menubar-submenu-shadow: var(--p-overlay-navigation-shadow);
    --p-menubar-submenu-mobile-indent: 1rem;
    --p-menubar-submenu-icon-size: var(--p-navigation-submenu-icon-size);
    --p-menubar-submenu-icon-color: var(--p-navigation-submenu-icon-color);
    --p-menubar-submenu-icon-focus-color: var(--p-navigation-submenu-icon-focus-color);
    --p-menubar-submenu-icon-active-color: var(--p-navigation-submenu-icon-active-color);
    --p-menubar-separator-border-color: var(--p-content-border-color);
    --p-menubar-mobile-button-border-radius: 50%;
    --p-menubar-mobile-button-size: 1.75rem;
    --p-menubar-mobile-button-color: var(--p-text-muted-color);
    --p-menubar-mobile-button-hover-color: var(--p-text-muted-hover-color);
    --p-menubar-mobile-button-hover-background: var(--p-content-hover-background);
    --p-menubar-mobile-button-focus-ring-width: var(--p-focus-ring-width);
    --p-menubar-mobile-button-focus-ring-style: var(--p-focus-ring-style);
    --p-menubar-mobile-button-focus-ring-color: var(--p-focus-ring-color);
    --p-menubar-mobile-button-focus-ring-offset: var(--p-focus-ring-offset);
    --p-menubar-mobile-button-focus-ring-shadow: var(--p-focus-ring-shadow);
}




.p-menubar {
    display: flex;
    align-items: center;
    background: var(--p-menubar-background);
    border: 1px solid var(--p-menubar-border-color);
    border-radius: var(--p-menubar-border-radius);
    color: var(--p-menubar-color);
    padding: var(--p-menubar-padding);
    gap: var(--p-menubar-gap);
}

.p-menubar-start,
.p-megamenu-end {
    display: flex;
    align-items: center;
}

.p-menubar-root-list,
.p-menubar-submenu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: 0 none;
}

.p-menubar-root-list {
    align-items: center;
    flex-wrap: wrap;
    gap: var(--p-menubar-gap);
}

.p-menubar-root-list>.p-menubar-item>.p-menubar-item-content {
    border-radius: var(--p-menubar-base-item-border-radius);
}

.p-menubar-root-list>.p-menubar-item>.p-menubar-item-content>.p-menubar-item-link {
    padding: var(--p-menubar-base-item-padding);
}

.p-menubar-item-content {
    transition: background var(--p-menubar-transition-duration), color var(--p-menubar-transition-duration);
    border-radius: var(--p-menubar-item-border-radius);
    color: var(--p-menubar-item-color);
}

.p-menubar-item-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    color: inherit;
    padding: var(--p-menubar-item-padding);
    gap: var(--p-menubar-item-gap);
    user-select: none;
    outline: 0 none;
}

.p-menubar-item-label {
    line-height: 1;
}

.p-menubar-item-icon {
    color: var(--p-menubar-item-icon-color);
}

.p-menubar-submenu-icon {
    color: var(--p-menubar-submenu-icon-color);
    margin-left: auto;
    font-size: var(--p-menubar-submenu-icon-size);
    width: var(--p-menubar-submenu-icon-size);
    height: var(--p-menubar-submenu-icon-size);
}

.p-menubar-item.p-focus>.p-menubar-item-content {
    color: var(--p-menubar-item-focus-color);
    background: var(--p-menubar-item-focus-background);
}

.p-menubar-item.p-focus>.p-menubar-item-content .p-menubar-item-icon {
    color: var(--p-menubar-item-icon-focus-color);
}

.p-menubar-item.p-focus>.p-menubar-item-content .p-menubar-submenu-icon {
    color: var(--p-menubar-submenu-icon-focus-color);
}

.p-menubar-item:not(.p-disabled)>.p-menubar-item-content:hover {
    color: var(--p-menubar-item-focus-color);
    background: var(--p-menubar-item-focus-background);
}

.p-menubar-item:not(.p-disabled)>.p-menubar-item-content:hover .p-menubar-item-icon {
    color: var(--p-menubar-item-icon-focus-color);
}

.p-menubar-item:not(.p-disabled)>.p-menubar-item-content:hover .p-menubar-submenu-icon {
    color: var(--p-menubar-submenu-icon-focus-color);
}

.p-menubar-item-active>.p-menubar-item-content {
    color: var(--p-menubar-item-active-color);
    background: var(--p-menubar-item-active-background);
}

.p-menubar-item-active>.p-menubar-item-content .p-menubar-item-icon {
    color: var(--p-menubar-item-icon-active-color);
}

.p-menubar-item-active>.p-menubar-item-content .p-menubar-submenu-icon {
    color: var(--p-menubar-submenu-icon-active-color);
}

.p-menubar-submenu {
    display: none;
    position: absolute;
    min-width: 12.5rem;
    z-index: 1;
    background: var(--p-menubar-submenu-background);
    border: 1px solid var(--p-menubar-submenu-border-color);
    border-radius: var(--p-menubar-border-radius);
    box-shadow: var(--p-menubar-submenu-shadow);
    color: var(--p-menubar-submenu-color);
    flex-direction: column;
    padding: var(--p-menubar-submenu-padding);
    gap: var(--p-menubar-submenu-gap);
}

.p-menubar-submenu .p-menubar-separator {
    border-top: 1px solid var(--p-menubar-separator-border-color);
}

.p-menubar-submenu .p-menubar-item {
    position: relative;
}

.p-menubar-submenu>.p-menubar-item-active>.p-menubar-submenu {
    display: block;
    left: 100%;
    top: 0;
}

.p-menubar-end {
    margin-left: auto;
    align-self: center;
}

.p-menubar-button {
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: var(--p-menubar-mobile-button-size);
    height: var(--p-menubar-mobile-button-size);
    position: relative;
    color: var(--p-menubar-mobile-button-color);
    border: 0 none;
    background: transparent;
    border-radius: var(--p-menubar-mobile-button-border-radius);
    transition: background var(--p-menubar-transition-duration), color var(--p-menubar-transition-duration), outline-color var(--p-menubar-transition-duration);
    outline-color: transparent;
}

.p-menubar-button:hover {
    color: var(--p-menubar-mobile-button-hover-color);
    background: var(--p-menubar-mobile-button-hover-background);
}

.p-menubar-button:focus-visible {
    box-shadow: var(--p-menubar-mobile-button-focus-ring-shadow);
    outline: var(--p-menubar-mobile-button-focus-ring-width) var(--p-menubar-mobile-button-focus-ring-style) var(--p-menubar-mobile-button-focus-ring-color);
    outline-offset: var(--p-menubar-mobile-button-focus-ring-offset);
}

.p-menubar-mobile {
    position: relative;
}

.p-menubar-mobile .p-menubar-button {
    display: flex;
}

.p-menubar-mobile .p-menubar-root-list {
    position: absolute;
    display: none;
    width: 100%;
    padding: var(--p-menubar-submenu-padding);
    background: var(--p-menubar-submenu-background);
    border: 1px solid var(--p-menubar-submenu-border-color);
    box-shadow: var(--p-menubar-submenu-shadow);
}

.p-menubar-mobile .p-menubar-root-list>.p-menubar-item>.p-menubar-item-content {
    border-radius: var(--p-menubar-item-border-radius);
}

.p-menubar-mobile .p-menubar-root-list>.p-menubar-item>.p-menubar-item-content>.p-menubar-item-link {
    padding: var(--p-menubar-item-padding);
}

.p-menubar-mobile-active .p-menubar-root-list {
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    z-index: 1;
}

.p-menubar-mobile .p-menubar-root-list .p-menubar-item {
    width: 100%;
    position: static;
}

.p-menubar-mobile .p-menubar-root-list .p-menubar-separator {
    border-top: 1px solid var(--p-menubar-separator-border-color);
}

.p-menubar-mobile .p-menubar-root-list>.p-menubar-item>.p-menubar-item-content .p-menubar-submenu-icon {
    margin-left: auto;
    transition: transform 0.2s;
}

.p-menubar-mobile .p-menubar-root-list>.p-menubar-item-active>.p-menubar-item-content .p-menubar-submenu-icon {
    transform: rotate(-180deg);
}

.p-menubar-mobile .p-menubar-submenu .p-menubar-submenu-icon {
    transition: transform 0.2s;
    transform: rotate(90deg);
}

.p-menubar-mobile .p-menubar-item-active>.p-menubar-item-content .p-menubar-submenu-icon {
    transform: rotate(-90deg);
}

.p-menubar-mobile .p-menubar-submenu {
    width: 100%;
    position: static;
    box-shadow: none;
    border: 0 none;
    padding-left: var(--p-menubar-submenu-mobile-indent);
}