:root {
    --p-tabs-transition-duration: var(--p-transition-duration);
    --p-tabs-tablist-border-width: 0px 0px 1px 0px;
    --p-tabs-tablist-background: var(--p-content-background);
    --p-tabs-tablist-border-color: var(--p-content-border-color);
    --p-tabs-tab-background: transparent;
    --p-tabs-tab-hover-background: transparent;
    --p-tabs-tab-active-background: transparent;
    --p-tabs-tab-border-width: 0px 0px 1px 0px;
    --p-tabs-tab-border-color: var(--p-content-border-color);
    --p-tabs-tab-hover-border-color: var(--p-content-border-color);
    --p-tabs-tab-active-border-color: var(--p-primary-color);
    --p-tabs-tab-color: var(--p-text-muted-color);
    --p-tabs-tab-hover-color: var(--p-text-color);
    --p-tabs-tab-active-color: var(--p-primary-color);
    --p-tabs-tab-padding: 1rem 1.125rem;
    --p-tabs-tab-font-weight: 600;
    --p-tabs-tab-margin: 0px 0px -1px 0px;
    --p-tabs-tab-gap: 0.5rem;
    --p-tabs-tab-focus-ring-width: var(--p-focus-ring-width);
    --p-tabs-tab-focus-ring-style: var(--p-focus-ring-style);
    --p-tabs-tab-focus-ring-color: var(--p-focus-ring-color);
    --p-tabs-tab-focus-ring-offset: -1px;
    --p-tabs-tab-focus-ring-shadow: var(--p-focus-ring-shadow);
    --p-tabs-tabpanel-background: var(--p-content-background);
    --p-tabs-tabpanel-color: var(--p-content-color);
    --p-tabs-tabpanel-padding: 0.875rem 1.125rem 1.125rem 1.125rem;
    --p-tabs-tabpanel-focus-ring-width: var(--p-focus-ring-width);
    --p-tabs-tabpanel-focus-ring-style: var(--p-focus-ring-style);
    --p-tabs-tabpanel-focus-ring-color: var(--p-focus-ring-color);
    --p-tabs-tabpanel-focus-ring-offset: var(--p-focus-ring-offset);
    --p-tabs-tabpanel-focus-ring-shadow: inset var(--p-focus-ring-shadow);
    --p-tabs-nav-button-background: var(--p-content-background);
    --p-tabs-nav-button-color: var(--p-text-muted-color);
    --p-tabs-nav-button-hover-color: var(--p-text-color);
    --p-tabs-nav-button-width: 2.5rem;
    --p-tabs-nav-button-focus-ring-width: var(--p-focus-ring-width);
    --p-tabs-nav-button-focus-ring-style: var(--p-focus-ring-style);
    --p-tabs-nav-button-focus-ring-color: var(--p-focus-ring-color);
    --p-tabs-nav-button-focus-ring-offset: -1px;
    --p-tabs-nav-button-focus-ring-shadow: var(--p-focus-ring-shadow);
    --p-tabs-active-bar-height: 1px;
    --p-tabs-active-bar-bottom: -1px;
    --p-tabs-active-bar-background: var(--p-primary-color);
    --p-tabs-nav-button-shadow: 0px 0px 10px 50px rgba(255, 255, 255, 0.6);
}

:root.dark {
    --p-tabs-nav-button-shadow: 0px 0px 10px 50px color-mix(in srgb, var(--p-content-background), transparent 50%);
}


.p-tabs {
    display: flex;
    flex-direction: column;
}

.p-tablist {
    display: flex;
    position: relative;
}

.p-tabs-scrollable>.p-tablist {
    overflow: hidden;
}

.p-tablist-viewport {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overscroll-behavior: contain auto;
}

.p-tablist-viewport::-webkit-scrollbar {
    display: none;
}

.p-tablist-tab-list {
    position: relative;
    display: flex;
    background: var(--p-tabs-tablist-background);
    border-style: solid;
    border-color: var(--p-tabs-tablist-border-color);
    border-width: var(--p-tabs-tablist-border-width);
}

.p-tablist-content {
    flex-grow: 1;
}

.p-tablist-nav-button {
    all: unset;
    position: absolute !important;
    flex-shrink: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--p-tabs-nav-button-background);
    color: var(--p-tabs-nav-button-color);
    width: var(--p-tabs-nav-button-width);
    transition: color var(--p-tabs-transition-duration), outline-color var(--p-tabs-transition-duration), box-shadow var(--p-tabs-transition-duration);
    box-shadow: var(--p-tabs-nav-button-shadow);
    outline-color: transparent;
    cursor: pointer;
}

.p-tablist-nav-button:focus-visible {
    z-index: 1;
    box-shadow: var(--p-tabs-nav-button-focus-ring-shadow);
    outline: var(--p-tabs-nav-button-focus-ring-width) var(--p-tabs-nav-button-focus-ring-style) var(--p-tabs-nav-button-focus-ring-color);
    outline-offset: var(--p-tabs-nav-button-focus-ring-offset);
}

.p-tablist-nav-button:hover {
    color: var(--p-tabs-nav-button-hover-color);
}

.p-tablist-prev-button {
    left: 0;
}

.p-tablist-next-button {
    right: 0;
}

.p-tab {
    flex-shrink: 0;
    cursor: pointer;
    user-select: none;
    position: relative;
    border-style: solid;
    white-space: nowrap;
    background: var(--p-tabs-tab-background);
    border-width: var(--p-tabs-tab-border-width);
    border-color: var(--p-tabs-tab-border-color);
    color: var(--p-tabs-tab-color);
    padding: var(--p-tabs-tab-padding);
    font-weight: var(--p-tabs-tab-font-weight);
    transition: background var(--p-tabs-transition-duration), border-color var(--p-tabs-transition-duration), color var(--p-tabs-transition-duration), outline-color var(--p-tabs-transition-duration), box-shadow var(--p-tabs-transition-duration);
    margin: var(--p-tabs-tab-margin);
    outline-color: transparent;
}

.p-tab:not(.p-disabled):focus-visible {
    z-index: 1;
    box-shadow: var(--p-tabs-tab-focus-ring-shadow);
    outline: var(--p-tabs-tab-focus-ring-width) var(--p-tabs-tab-focus-ring-style) var(--p-tabs-tab-focus-ring-color);
    outline-offset: var(--p-tabs-tab-focus-ring-offset);
}

.p-tab:not(.p-tab-active):not(.p-disabled):hover {
    background: var(--p-tabs-tab-hover-background);
    border-color: var(--p-tabs-tab-hover-border-color);
    color: var(--p-tabs-tab-hover-color);
}

.p-tab-active {
    background: var(--p-tabs-tab-active-background);
    border-color: var(--p-tabs-tab-active-border-color);
    color: var(--p-tabs-tab-active-color);
}

.p-tabpanels {
    background: var(--p-tabs-tabpanel-background);
    color: var(--p-tabs-tabpanel-color);
    padding: var(--p-tabs-tabpanel-padding);
    outline: 0 none;
}

.p-tabpanel:focus-visible {
    box-shadow: var(--p-tabs-tabpanel-focus-ring-shadow);
    outline: var(--p-tabs-tabpanel-focus-ring-width) var(--p-tabs-tabpanel-focus-ring-style) var(--p-tabs-tabpanel-focus-ring-color);
    outline-offset: var(--p-tabs-tabpanel-focus-ring-offset);
}

.p-tablist-active-bar {
    z-index: 1;
    display: block;
    position: absolute;
    bottom: var(--p-tabs-active-bar-bottom);
    height: var(--p-tabs-active-bar-height);
    background: var(--p-tabs-active-bar-background);
    transition: 250ms cubic-bezier(0.35, 0, 0.25, 1);
}