:root {
    --p-toggleswitch-width: 2.5rem;
    --p-toggleswitch-height: 1.5rem;
    --p-toggleswitch-border-radius: 30px;
    --p-toggleswitch-gap: 0.25rem;
    --p-toggleswitch-shadow: var(--p-form-field-shadow);
    --p-toggleswitch-focus-ring-width: var(--p-focus-ring-width);
    --p-toggleswitch-focus-ring-style: var(--p-focus-ring-style);
    --p-toggleswitch-focus-ring-color: var(--p-focus-ring-color);
    --p-toggleswitch-focus-ring-offset: var(--p-focus-ring-offset);
    --p-toggleswitch-focus-ring-shadow: var(--p-focus-ring-shadow);
    --p-toggleswitch-border-width: 1px;
    --p-toggleswitch-border-color: transparent;
    --p-toggleswitch-hover-border-color: transparent;
    --p-toggleswitch-checked-border-color: transparent;
    --p-toggleswitch-checked-hover-border-color: transparent;
    --p-toggleswitch-invalid-border-color: var(--p-form-field-invalid-border-color);
    --p-toggleswitch-transition-duration: var(--p-form-field-transition-duration);
    --p-toggleswitch-slide-duration: 0.2s;
    --p-toggleswitch-handle-border-radius: 50%;
    --p-toggleswitch-handle-size: 1rem;
    --p-toggleswitch-background: var(--p-surface-300);
    --p-toggleswitch-disabled-background: var(--p-form-field-disabled-background);
    --p-toggleswitch-hover-background: var(--p-surface-400);
    --p-toggleswitch-checked-background: var(--p-primary-color);
    --p-toggleswitch-checked-hover-background: var(--p-primary-hover-color);
    --p-toggleswitch-handle-background: var(--p-surface-0);
    --p-toggleswitch-handle-disabled-background: var(--p-form-field-disabled-color);
    --p-toggleswitch-handle-hover-background: var(--p-surface-0);
    --p-toggleswitch-handle-checked-background: var(--p-surface-0);
    --p-toggleswitch-handle-checked-hover-background: var(--p-surface-0);
    --p-toggleswitch-handle-color: var(--p-text-muted-color);
    --p-toggleswitch-handle-hover-color: var(--p-text-color);
    --p-toggleswitch-handle-checked-color: var(--p-primary-color);
    --p-toggleswitch-handle-checked-hover-color: var(--p-primary-hover-color);
}

:root.dark {
    --p-toggleswitch-background: var(--p-surface-700);
    --p-toggleswitch-disabled-background: var(--p-surface-600);
    --p-toggleswitch-hover-background: var(--p-surface-600);
    --p-toggleswitch-checked-background: var(--p-primary-color);
    --p-toggleswitch-checked-hover-background: var(--p-primary-hover-color);
    --p-toggleswitch-handle-background: var(--p-surface-400);
    --p-toggleswitch-handle-disabled-background: var(--p-surface-900);
    --p-toggleswitch-handle-hover-background: var(--p-surface-300);
    --p-toggleswitch-handle-checked-background: var(--p-surface-900);
    --p-toggleswitch-handle-checked-hover-background: var(--p-surface-900);
    --p-toggleswitch-handle-color: var(--p-surface-900);
    --p-toggleswitch-handle-hover-color: var(--p-surface-800);
    --p-toggleswitch-handle-checked-color: var(--p-primary-color);
    --p-toggleswitch-handle-checked-hover-color: var(--p-primary-hover-color);
}

.p-toggleswitch {
    display: inline-block;
    width: var(--p-toggleswitch-width);
    height: var(--p-toggleswitch-height);
}

.p-toggleswitch-input {
    cursor: pointer;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    outline: 0 none;
    border-radius: var(--p-toggleswitch-border-radius);
}

.p-toggleswitch-slider {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-width: var(--p-toggleswitch-border-width);
    border-style: solid;
    border-color: var(--p-toggleswitch-border-color);
    background: var(--p-toggleswitch-background);
    transition: background var(--p-toggleswitch-transition-duration), color var(--p-toggleswitch-transition-duration), border-color var(--p-toggleswitch-transition-duration), outline-color var(--p-toggleswitch-transition-duration), box-shadow var(--p-toggleswitch-transition-duration);
    border-radius: var(--p-toggleswitch-border-radius);
    outline-color: transparent;
    box-shadow: var(--p-toggleswitch-shadow);
}

.p-toggleswitch-handle {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--p-toggleswitch-handle-background);
    color: var(--p-toggleswitch-handle-color);
    width: var(--p-toggleswitch-handle-size);
    height: var(--p-toggleswitch-handle-size);
    left: var(--p-toggleswitch-gap);
    margin-top: calc(-1 * calc(var(--p-toggleswitch-handle-size) / 2));
    border-radius: var(--p-toggleswitch-handle-border-radius);
    transition: background var(--p-toggleswitch-transition-duration), color var(--p-toggleswitch-transition-duration), left var(--p-toggleswitch-slide-duration), box-shadow var(--p-toggleswitch-slide-duration);
}

.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
    background: var(--p-toggleswitch-checked-background);
    border-color: var(--p-toggleswitch-checked-border-color);
}

.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-handle {
    background: var(--p-toggleswitch-handle-checked-background);
    color: var(--p-toggleswitch-handle-checked-color);
    left: calc(var(--p-toggleswitch-width) - calc(var(--p-toggleswitch-handle-size) + var(--p-toggleswitch-gap)));
}

.p-toggleswitch:not(.p-disabled):has(.p-toggleswitch-input:hover) .p-toggleswitch-slider {
    background: var(--p-toggleswitch-hover-background);
    border-color: var(--p-toggleswitch-hover-border-color);
}

.p-toggleswitch:not(.p-disabled):has(.p-toggleswitch-input:hover) .p-toggleswitch-handle {
    background: var(--p-toggleswitch-handle-hover-background);
    color: var(--p-toggleswitch-handle-hover-color);
}

.p-toggleswitch:not(.p-disabled):has(.p-toggleswitch-input:hover).p-toggleswitch-checked .p-toggleswitch-slider {
    background: var(--p-toggleswitch-checked-hover-background);
    border-color: var(--p-toggleswitch-checked-hover-border-color);
}

.p-toggleswitch:not(.p-disabled):has(.p-toggleswitch-input:hover).p-toggleswitch-checked .p-toggleswitch-handle {
    background: var(--p-toggleswitch-handle-checked-hover-background);
    color: var(--p-toggleswitch-handle-checked-hover-color);
}

.p-toggleswitch:not(.p-disabled):has(.p-toggleswitch-input:focus-visible) .p-toggleswitch-slider {
    box-shadow: var(--p-toggleswitch-focus-ring-shadow);
    outline: var(--p-toggleswitch-focus-ring-width) var(--p-toggleswitch-focus-ring-style) var(--p-toggleswitch-focus-ring-color);
    outline-offset: var(--p-toggleswitch-focus-ring-offset);
}

.p-toggleswitch.p-invalid>.p-toggleswitch-slider {
    border-color: var(--p-toggleswitch-invalid-border-color);
}

.p-toggleswitch.p-disabled {
    opacity: 1;
}

.p-toggleswitch.p-disabled .p-toggleswitch-slider {
    background: var(--p-toggleswitch-disabled-background);
}

.p-toggleswitch.p-disabled .p-toggleswitch-handle {
    background: var(--p-toggleswitch-handle-disabled-background);
}