@use "./button";
@use "./card";
@use "./menubar";
@use "./tabs";
@use "./input";
@use "_toggleswitch";
@use "./asides";
@use "./markdown";
@use "./props";
@use "./shiki";
@use "./util";


.p-connected-overlay {
    opacity: 0;
    transform: scaleY(0.8);
    transition: transform 0.12s cubic-bezier(0, 0, 0.2, 1), opacity 0.12s cubic-bezier(0, 0, 0.2, 1);
}

.p-connected-overlay-visible {
    opacity: 1;
    transform: scaleY(1);
}

.p-connected-overlay-hidden {
    opacity: 0;
    transform: scaleY(1);
    transition: opacity 0.1s linear;
}

.p-connected-overlay-enter-from {
    opacity: 0;
    transform: scaleY(0.8);
}

.p-connected-overlay-leave-to {
    opacity: 0;
}

.p-connected-overlay-enter-active {
    transition: transform 0.12s cubic-bezier(0, 0, 0.2, 1), opacity 0.12s cubic-bezier(0, 0, 0.2, 1);
}

.p-connected-overlay-leave-active {
    transition: opacity 0.1s linear;
}

.p-toggleable-content-enter-from,
.p-toggleable-content-leave-to {
    max-height: 0;
}

.p-toggleable-content-enter-to,
.p-toggleable-content-leave-from {
    max-height: 1000px;
}

.p-toggleable-content-leave-active {
    overflow: hidden;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}

.p-toggleable-content-enter-active {
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}

.p-disabled,
.p-disabled * {
    cursor: default;
    pointer-events: none;
    user-select: none;
}

.p-disabled,
.p-component:disabled {
    opacity: var(--p-disabled-opacity);
}

.pi {
    font-size: var(--p-icon-size);
}

.p-icon {
    width: var(--p-icon-size);
    height: var(--p-icon-size);
}

.p-overlay-mask {
    background: var(--p-mask-background);
    color: var(--p-mask-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.p-overlay-mask-enter {
    animation: p-overlay-mask-enter-animation var(--p-mask-transition-duration) forwards;
}

.p-overlay-mask-leave {
    animation: p-overlay-mask-leave-animation var(--p-mask-transition-duration) forwards;
}

@keyframes p-overlay-mask-enter-animation {
    from {
        background: transparent;
    }

    to {
        background: var(--p-mask-background);
    }
}

@keyframes p-overlay-mask-leave-animation {
    from {
        background: var(--p-mask-background);
    }

    to {
        background: transparent;
    }
}