---
import { Icon } from 'astro-icon/components'
import { LinkPreset, type NavBarLink } from '@/types/config'
import DocHeaderItems from '@/components/vue/DocHeaderItems.vue'
import { url } from '@/utils/url-utils'
const className = Astro.props.class
let links: NavBarLink[] = [];
// let links: NavBarLink[] = navBarConfig.links.map(
//   (item: NavBarLink | LinkPreset): NavBarLink => {
//     if (typeof item === 'number') {
//       return LinkPresets[item]
//     }
//     return item
//   },
// )
---
<div id="navbar" class="sticky top-0 z-50 onload-animation">
    <div class="absolute h-8 left-0 right-0 -top-8 bg-[var(--card-bg)] transition"></div> <!-- used for onload animation -->
    
    <div class:list={[
        className,
        "card-base overflow-visible max-w-[var(--page-width)] h-[4.5rem] rounded-t-none mx-auto md:relative items-center justify-between px-auto"]}>
        <DocHeaderItems client:only="vue"></DocHeaderItems>
        
        <!-- <DisplaySettings client:only="svelte">
            <Icon slot="restore-icon" name="fa6-solid:arrow-rotate-left" class="text-[0.875rem]"></Icon>
        </DisplaySettings> -->
    </div>
</div>

<style lang="scss" is:global>
</style>

<script>

// function loadButtonScript() {


//     let settingBtn = document.getElementById("display-settings-switch");
//     settingBtn!.addEventListener("click", function () {
//         let settingPanel = document.getElementById("display-setting");
//         settingPanel!.classList.toggle("float-panel-closed");
//     });

//     let menuBtn = document.getElementById("nav-menu-switch");
//     menuBtn!.addEventListener("click", function () {
//         let menuPanel = document.getElementById("nav-menu-panel");
//         menuPanel!.classList.toggle("float-panel-closed");
//     });
// }

// loadButtonScript();

// document.addEventListener('astro:after-swap', () => {
//     loadButtonScript();
// }, { once: false });
</script>

{import.meta.env.PROD && <script is:inline define:vars={{scriptUrl: url('/pagefind/pagefind.js')}}>
async function loadPagefind() {
    const pagefind = await import(scriptUrl)
    await pagefind.options({
        'excerptLength': 20
    })
    pagefind.init()
    window.pagefind = pagefind
    pagefind.search('')     // speed up the first search
}
loadPagefind()
</script>}