---
import GlobalFooter from '@/components/GlobalFooter.astro';
---

<div class="doc_footer">
  <GlobalFooter />
</div>
<style lang="scss" is:global>
  .doc_footer {
    border-top: 1px solid var(--line-divider);
  }
</style>
