---
// Components — can override built-in CSS, but not user CSS.
import Banner from './Banner.astro';
import ContentPanel from './ContentPanel.astro';
import FallbackContentNotice from './FallbackContentNotice.astro';
import DraftContentNotice from './DraftContentNotice.astro';
import Header from './Header.astro';
import Hero from './Hero.astro';
import MarkdownContent from './MarkdownContent.astro';
import PageFrame from './PageFrame.astro';
import PageSidebar from './PageSidebar.astro';
import PageTitle from './PageTitle.astro';
import Sidebar from './Sidebar.astro';
import SkipLink from './SkipLink.astro';
import TwoColumnContent from './TwoColumnContent.astro';
import GlobalFooter from '@/components/GlobalFooter.astro';
import BaseLayout from '../BaseLayout.astro';

const pagefindEnabled = Astro.props.entry.slug !== '404' && !Astro.props.entry.slug.endsWith('/404') && Astro.props.entry.data.pagefind !== false;
---

<BaseLayout>
  <SkipLink {...Astro.props} />
  <PageFrame {...Astro.props}>
    <Header slot="header" {...Astro.props} />
    {Astro.props.hasSidebar && <Sidebar slot="sidebar" {...Astro.props} />}
    <script src="./SidebarPersistState"></script>
    <TwoColumnContent {...Astro.props}>
      <PageSidebar slot="right-sidebar" {...Astro.props} />
      <main data-pagefind-body={pagefindEnabled} lang={Astro.props.entryMeta.lang} dir={Astro.props.entryMeta.dir}>
        {/* TODO: Revisit how this logic flows. */}
        <Banner {...Astro.props} />
        {
          Astro.props.entry.data.hero ? (
            <ContentPanel {...Astro.props}>
              <Hero {...Astro.props} />
              <MarkdownContent {...Astro.props}>
                <slot />
              </MarkdownContent>
              <GlobalFooter />
            </ContentPanel>
          ) : (
            <>
              <ContentPanel {...Astro.props}>
                <PageTitle {...Astro.props} />
                {Astro.props.entry.data.draft && <DraftContentNotice {...Astro.props} />}
                {Astro.props.isFallback && <FallbackContentNotice {...Astro.props} />}
              </ContentPanel>
              <ContentPanel {...Astro.props}>
                <MarkdownContent {...Astro.props}>
                  <slot />
                </MarkdownContent>
                <GlobalFooter />
              </ContentPanel>
            </>
          )
        }
      </main>
    </TwoColumnContent>
  </PageFrame>
</BaseLayout>
