/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);

	--layout-nav-header-height: 64px;
	--layout-max-width: 1440px;
	--layout-nav-header-z-index: 10;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}

h1 {
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

strong,
b {
	font-weight: 700;
}

a,
p {
	margin: 0;
	padding: 0;
	user-select: none;
	text-decoration: none;
	box-sizing: border-box;
	color: var(--text-color);

	&:hover {
		transition: 0.3s;
	}
}

li,
ul {
	list-style-type: none;
}

p {
	margin-bottom: 1em;
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

@layer base {
	:root {
		--color-primary: 75 38 143;
		/* 135 94 212 */
		--color-secondary: 107 154 199;
		--color-accent: 119 112 150;
		--color-warning: 202 121 45;
		--color-danger: 180 25 14;
		--color-success: 77 137 101;
		--color-dark: 25 28 38;
		--color-light: 243 241 239;
		--color-info: 25 28 38;

		--spacing: 1rem;
		--w-xl: 75rem;
		--w-lg: 65rem;
		--w-md: 55rem;
		--w-sm: 40rem;
		--w-container: 55rem;

		--popper-theme-background-color: theme(colors.primary);
		--popper-theme-background-color-hover: theme(colors.primary);
		--popper-theme-text-color: theme(colors.light);
		--popper-theme-border-width: 0px;
		--popper-theme-border-style: solid;
		--popper-theme-border-radius: 0.2rem;
		--popper-theme-padding: 0.4rem;
		--popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
	}

	[data-theme="dark"] {
		body {
			--color-primary: 135 94 212;
			--color-secondary: 107 154 199;
			--color-accent: 119 112 150;
			--color-warning: 202 121 45;
			--color-danger: 180 25 14;
			--color-success: 77 137 101;
			--color-dark: 25 28 38;
			--color-light: 243 241 239;
			--color-info: 25 28 38;
		}
	}
}

/* SURFACES */

/* body {
	--toastify-color-light: theme(colors.light);
	--toastify-color-dark: theme(colors.dark);
	--toastify-color-info: theme(colors.primary);
	--toastify-color-success: theme(colors.primary);
	--toastify-color-warning: theme(colors.warning);
	--toastify-color-error: theme(colors.danger);
} */

.surface-base {
	--at-apply: bg-light text-dark dark:bg-dark dark:text-light;
}

.surface-primary {
	--at-apply: bg-primary text-white dark:text-white;

	a:not([class]) {
		--at-apply: text-light;
	}
}

.surface-secondary {
	--at-apply: bg-secondary text-dark;

	a:not([class]) {
		--at-apply: text-dark;
	}
}

.surface-accent {
	--at-apply: bg-accent text-light;

	a:not([class]) {
		--at-apply: text-light;
	}
}

.surface-warning {
	--at-apply: bg-warning text-light;

	a:not([class]) {
		--at-apply: text-light;
	}
}

.surface-danger {
	--at-apply: bg-danger text-light;

	a:not([class]) {
		--at-apply: text-light;
	}
}

.surface-overlay {
	--at-apply: bg-white text-dark dark:bg-black dark:text-light;
}

.surface-overlay-hover {
	--at-apply: relative text-dark before:absolute before:inset-0 before:rounded-md before:opacity-0 before:shadow-inset before:transition-opacity before:duration-500 hover:before:opacity-100 dark:text-light dark:before:shadow-gray-500;
}

.surface-overlay-hover-btn {
	--at-apply: relative text-dark before:absolute before:inset-0 before:rounded-md before:opacity-50 before:shadow-inset before:transition-opacity before:duration-500 hover:before:opacity-100 dark:text-light dark:before:shadow-gray-500;
}

.surface-dark {
	--at-apply: bg-dark text-light dark:bg-black;
}

.surface-footer {
	--at-apply: bg-dark bg-opacity-80 text-light;
}

.surface-menu {
	--at-apply: bg-light bg-opacity-90 text-primary dark:bg-dark dark:bg-opacity-90;

	.nav-links {
		--at-apply: text-dark dark:text-white;
	}
}

.surface-light {
	--at-apply: bg-light text-dark;
}

.surface-success {
	--at-apply: bg-success text-light;

	a:not([class]) {
		--at-apply: text-light;
	}
}

.surface-info {
	--at-apply: bg-info text-light;

	a:not([class]) {
		--at-apply: text-light;
	}
}

@font-face {
	font-family: "Adjusted Arial Fallback";
	src: local(Arial);
	size-adjust: 105%;
	ascent-override: normal;
	descent-override: normal;
	line-gap-override: normal;
}

/* BASE ELEMENTS */
body {
	@screen xs {
		--spacing: 2rem;
	}

	font-family: "Inter Tight Variable",
	"Adjusted Arial Fallback",
	"arial",
	sans-serif;
	--container-spacing: calc(var(--spacing) * 2);
	--grid-spacing: calc(var(--spacing) / 2);
}

.container {
	width: min(100% - var(--container-spacing), var(--w-md));
	--at-apply: mx-auto;

	&-xl {
		width: min(100% - var(--container-spacing), var(--w-xl));
		--at-apply: mx-auto;
	}

	&-lg {
		width: min(100% - var(--container-spacing), var(--w-lg));
		--at-apply: mx-auto;
	}

	&-md {
		width: min(100% - var(--container-spacing), var(--w-md));
		--at-apply: mx-auto;
	}

	&-sm {
		width: min(100% - var(--container-spacing), var(--w-sm));
		--at-apply: mx-auto;
	}

	&-full {
		width: calc(100% - var(--container-spacing));
		--at-apply: mx-auto;
	}
}

.auto-grid {
	--at-apply: grid;

	&-sm {
		gap: var(--grid-spacing);
		--at-apply: grid sm:grid-cols-2;
	}

	&-md {
		gap: var(--grid-spacing);
		--at-apply: grid sm:grid-cols-2 md:grid-cols-3;
	}

	&-lg {
		gap: var(--grid-spacing);
		--at-apply: grid sm:grid-cols-2 md:grid-cols-3;
	}

	&-xl {
		gap: var(--grid-spacing);
		--at-apply: grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
	}

	&-full {
		gap: var(--grid-spacing);
		--at-apply: grid xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5;
	}

	&-none {
		gap: var(--grid-spacing);
		--at-apply: grid xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6;
	}
}

.hide-scrollbar {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;

	/* Firefox */
	&::-webkit-scrollbar {
		display: none;
	}
}

/* POPPER */

.popper {
	transition: background 250ms ease-in-out;
	background: var(--popper-theme-background-color);
	padding: var(--popper-theme-padding);
	color: var(--popper-theme-text-color);
	border-radius: var(--popper-theme-border-radius);
	border-width: var(--popper-theme-border-width);
	border-style: var(--popper-theme-border-style);
	border-color: var(--popper-theme-border-color);
	box-shadow: var(--popper-theme-box-shadow);
	z-index: v-bind(zIndex);
}

.popper:hover,
.popper:hover>#arrow::before {
	background: var(--popper-theme-background-color-hover);
}

/* MARKDOWN HTML */
.richtext {
	a:not([class]) {
		padding-bottom: 0.1em;
		background: linear-gradient(90deg, currentColor, currentColor) no-repeat right bottom / 0 var(--bg-h);
		transition: background-size 350ms;
		--bg-h: 0.1em;

		&:where(:hover, :focus-visible) {
			background-size: 100% var(--bg-h);
			background-position-x: left;
		}
	}

	&:not(.dense) {
		*+p {
			--at-apply: pt-4;
		}
	}

	p {
		--at-apply: text-lg;
	}

	&:not(.no-lead) {
		p:first-of-type {
			--at-apply: text-xl;
		}
	}

	*+*:is(h2, h3, h4, h5, h6) {
		--at-apply: pt-8;
	}

	h2 {
		--at-apply: text-3xl font-extrabold sm:text-4xl;
		text-wrap: balance;

		strong {
			--at-apply: block text-xs font-light uppercase tracking-widest;
		}
	}

	h3 {
		--at-apply: text-2xl font-extrabold sm:text-3xl;
		text-wrap: balance;
	}

	h4 {
		--at-apply: text-xl font-bold sm:text-2xl;
		text-wrap: balance;
	}

	h5 {
		--at-apply: text-lg font-bold leading-none sm:text-xl;
		text-wrap: balance;
	}

	h6 {
		--at-apply: text-lg font-bold leading-none;
		text-wrap: balance;
	}

	p {
		text-wrap: balance;
	}

	table {
		--at-apply: my-8 w-full;
	}

	code {
		--at-apply: rounded-md bg-gray-600 bg-opacity-20 px-1 py-0.5;
	}

	pre {
		--at-apply: my-4 inline-block w-full max-w-full rounded-md p-4;
	}

	pre>code {
		all: unset;
	}

	blockquote {
		--at-apply: mx-0 my-8 border-l-4 border-primary py-0 pl-8 pr-0 text-2xl font-semibold italic;
	}

	ul:not([class]) {
		--at-apply: list-disc;
	}

	ol:not([class]) {
		--at-apply: list-decimal;
	}

	ul:not([class]),
	ol:not([class]) {
		--at-apply: my-8 ml-6 list-outside text-lg leading-tight;

		li {
			--at-apply: py-2;
			text-wrap: balance;

			&::marker {
				--at-apply: text-primary;
			}
		}

		ul,
		ol {
			--at-apply: my-1 ml-4;
		}
	}
}

/* TYPOGRAFY */

.title {
	--at-apply: text-4xl font-extrabold sm:text-6xl md:text-5xl lg:text-7xl;
	text-wrap: balance;

	&-md {
		--at-apply: text-2xl font-extrabold sm:text-4xl md:text-5xl lg:text-5xl;
		text-wrap: balance;
	}

	&-sm {
		--at-apply: text-3xl font-extrabold sm:text-4xl;
		text-wrap: balance;
	}
}

.subtitle {
	--at-apply: text-2xl;
}

.text-overline {
	--at-apply: uppercase tracking-widest;
}

.balance {
	text-wrap: balance;
}

.lead {
	--at-apply: text-lg;
}

/* BUTTONS */

.btn {
	--at-apply: inline-flex gap-2 rounded-full px-4 py-2 uppercase outline-offset-4 transition-all duration-300 hover:-translate-y-0.5 hover:bg-opacity-90 hover:shadow-md disabled:pointer-events-none disabled:opacity-50 disabled:grayscale;

	&-icon {
		--at-apply: px-2;
	}

	&-absolute {
		--at-apply: absolute;
	}
}

a.link-underline {
	padding-bottom: 0.1em;
	background: linear-gradient(90deg, currentColor, currentColor) no-repeat right bottom / 0 var(--bg-h);
	transition: background-size 350ms;
	--bg-h: 0.1em;

	&:where(:hover, :focus-visible) {
		background-size: 100% var(--bg-h);
		background-position-x: left;
	}
}

/* ANIMATIONS */
@media screen and (prefers-reduced-motion: no-preference) {
	.fade-up {
		--at-apply: ease-in;
		transition: all 0.5s var(--animation-delay, 0ms);
	}

	.fade-in {
		transition: opacity 0.5s var(--animation-delay, 0ms);
	}

	.is-inactive {

		&.fade-up,
		.fade-up {
			--at-apply: scale-95;
		}
	}

	.out-of-screen {

		&.fade-up,
		.fade-up {
			--at-apply: scale-95 opacity-90;
		}

		&.fade-in,
		.fade-in {
			--at-apply: opacity-0;
		}
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

/* NAVIGATION */

.btn-to-top {
	--at-apply: pointer-events-none opacity-0;
}

[data-is-top="false"] {
	.btn-to-top {
		--at-apply: pointer-events-auto scale-100 opacity-100;
	}

	.add-to-cart-spacer {
		--at-apply: w-12;
	}
}

.attribution {
	--at-apply: opacity-100 transition-all duration-1000;
}

[data-is-bottom="false"] {
	.attribution {
		--at-apply: opacity-0;
	}
}

[data-is-bottom="true"] {
	.attribution {
		--at-apply: opacity-100 delay-500;
	}
}

/* PAGEFIND */

.search-modal {
	--pagefind-ui-scale: 1.1;
	--pagefind-ui-primary: theme(colors.light);
	--pagefind-ui-fade: theme(colors.light / 0.3);
	--pagefind-ui-text: theme(colors.light);
	--pagefind-ui-background: theme(colors.primary);
	--pagefind-ui-border: theme(colors.light / 0.3);
	--pagefind-ui-tag: theme(colors.light / 0.3);
	--pagefind-ui-border-width: 0;
	--pagefind-ui-border-radius: 2rem;
	--pagefind-ui-image-border-radius: 0.5rem;
	--pagefind-ui-image-box-ratio: 1;
	--pagefind-ui-font: inherit;
}

[data-is-scrolling-up="false"][data-is-top="false"] {
	.nav {
		--at-apply: -translate-y-full;
	}
}