/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@use "./theme/md-light-deeppurple/light.scss";
@use "./theme/md-dark-deeppurple/dark.scss";
/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	--font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);

	--text-color: #374151;
	--layout-nav-header-height: 64px;
	--layout-max-width: 1440px;
	--layout-nav-header-z-index: 10;
}

:root {
	--color-primary: 75 38 143;
	/* 135 94 212 */
	--color-secondary: 107 154 199;
	--color-accent: 119 112 150;
	--color-warning: 202 121 45;
	--color-danger: 180 25 14;
	--color-success: 77 137 101;
	--color-dark: 25 28 38;
	--color-light: 243 241 239;
	--color-info: 25 28 38;

	--spacing: 1rem;
	--w-xl: 75rem;
	--w-lg: 65rem;
	--w-md: 55rem;
	--w-sm: 40rem;
	--w-container: 55rem;

	--popper-theme-background-color: theme(colors.primary);
	--popper-theme-background-color-hover: theme(colors.primary);
	--popper-theme-text-color: theme(colors.light);
	--popper-theme-border-width: 0px;
	--popper-theme-border-style: solid;
	--popper-theme-border-radius: 0.2rem;
	--popper-theme-padding: 0.4rem;
	--popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}

:root {
	--blue-50: #f4fafe;
	--blue-100: #cae6fc;
	--blue-200: #a0d2fa;
	--blue-300: #75bef8;
	--blue-400: #4baaf5;
	--blue-500: #2196f3;
	--blue-600: #1c80cf;
	--blue-700: #1769aa;
	--blue-800: #125386;
	--blue-900: #0d3c61;
	--green-50: #f7faf5;
	--green-100: #dbe8cf;
	--green-200: #bed6a9;
	--green-300: #a1c384;
	--green-400: #85b15e;
	--green-500: #689f38;
	--green-600: #588730;
	--green-700: #496f27;
	--green-800: #39571f;
	--green-900: #2a4016;
	--yellow-50: #fffcf5;
	--yellow-100: #fef0cd;
	--yellow-200: #fde4a5;
	--yellow-300: #fdd87d;
	--yellow-400: #fccc55;
	--yellow-500: #fbc02d;
	--yellow-600: #d5a326;
	--yellow-700: #b08620;
	--yellow-800: #8a6a19;
	--yellow-900: #644d12;
	--cyan-50: #f2fcfd;
	--cyan-100: #c2eff5;
	--cyan-200: #91e2ed;
	--cyan-300: #61d5e4;
	--cyan-400: #30c9dc;
	--cyan-500: #00bcd4;
	--cyan-600: #00a0b4;
	--cyan-700: #008494;
	--cyan-800: #006775;
	--cyan-900: #004b55;
	--pink-50: #fef4f7;
	--pink-100: #fac9da;
	--pink-200: #f69ebc;
	--pink-300: #f1749e;
	--pink-400: #ed4981;
	--pink-500: #e91e63;
	--pink-600: #c61a54;
	--pink-700: #a31545;
	--pink-800: #801136;
	--pink-900: #5d0c28;
	--indigo-50: #f6f7fc;
	--indigo-100: #d5d9ef;
	--indigo-200: #b3bae2;
	--indigo-300: #919cd5;
	--indigo-400: #707dc8;
	--indigo-500: #4e5fbb;
	--indigo-600: #42519f;
	--indigo-700: #374383;
	--indigo-800: #2b3467;
	--indigo-900: #1f264b;
	--teal-50: #f2faf9;
	--teal-100: #c2e6e2;
	--teal-200: #91d2cc;
	--teal-300: #61beb5;
	--teal-400: #30aa9f;
	--teal-500: #009688;
	--teal-600: #008074;
	--teal-700: #00695f;
	--teal-800: #00534b;
	--teal-900: #003c36;
	--orange-50: #fffaf2;
	--orange-100: #ffe6c2;
	--orange-200: #ffd391;
	--orange-300: #ffbf61;
	--orange-400: #ffac30;
	--orange-500: #ff9800;
	--orange-600: #d98100;
	--orange-700: #b36a00;
	--orange-800: #8c5400;
	--orange-900: #663d00;
	--bluegray-50: #f7f9f9;
	--bluegray-100: #d9e0e3;
	--bluegray-200: #bbc7cd;
	--bluegray-300: #9caeb7;
	--bluegray-400: #7e96a1;
	--bluegray-500: #607d8b;
	--bluegray-600: #526a76;
	--bluegray-700: #435861;
	--bluegray-800: #35454c;
	--bluegray-900: #263238;
	--purple-50: #faf4fb;
	--purple-100: #e7cbec;
	--purple-200: #d4a2dd;
	--purple-300: #c279ce;
	--purple-400: #af50bf;
	--purple-500: #9c27b0;
	--purple-600: #852196;
	--purple-700: #6d1b7b;
	--purple-800: #561561;
	--purple-900: #3e1046;
	--red-50: #fef6f5;
	--red-100: #fcd2cf;
	--red-200: #faaea9;
	--red-300: #f88a82;
	--red-400: #f6675c;
	--red-500: #f44336;
	--red-600: #cf392e;
	--red-700: #ab2f26;
	--red-800: #86251e;
	--red-900: #621b16;
	--primary-50: #fdfafd;
	--primary-100: #f3e5f6;
	--primary-200: #ead1ee;
	--primary-300: #e1bce7;
	--primary-400: #d7a8df;
	--primary-500: #ce93d8;
	--primary-600: #af7db8;
	--primary-700: #906797;
	--primary-800: #715177;
	--primary-900: #523b56;
}

:root .dark {
	--color-primary: 135 94 212;
	--color-secondary: 107 154 199;
	--color-accent: 119 112 150;
	--color-warning: 202 121 45;
	--color-danger: 180 25 14;
	--color-success: 77 137 101;
	--color-dark: 25 28 38;
	--color-light: 243 241 239;
	--color-info: 25 28 38;
	--text-color: #e5e7eb;
}

/* roboto-regular - latin-ext_latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url("/fonts/roboto-v20-latin-ext_latin-regular.woff2") format("woff2"), url("/fonts/roboto-v20-latin-ext_latin-regular.woff") format("woff");
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin-ext_latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url("/fonts/roboto-v20-latin-ext_latin-500.woff2") format("woff2"), url("/fonts/roboto-v20-latin-ext_latin-500.woff") format("woff");
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin-ext_latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url("/fonts/roboto-v20-latin-ext_latin-700.woff2") format("woff2"), url("/fonts/roboto-v20-latin-ext_latin-700.woff") format("woff");
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
	--at-apply: bg-white dark:bg-#1c2128 h-full w-full text-gray-700 dark:text-gray-200;
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 16px;
	line-height: 1.4;
}



h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	line-height: 1.2;
}

strong,
b {
	font-weight: 700;
}

a,
p {
	margin: 0;
	padding: 0;
	user-select: none;
	text-decoration: none;
	box-sizing: border-box;

	&:hover {
		transition: 0.3s;
	}
}

li,
ul {
	list-style-type: none;
}

p {
	margin-bottom: 1em;
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

pre,
code {
	color: #d4d4d4;
	font-size: 14px;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	line-height: 1.5;
	direction: ltr;
	white-space: pre;
	text-align: left;
	text-shadow: none;
	word-break: normal;
	word-spacing: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre::selection,
code::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	pre,
	code {
		text-shadow: none;
	}
}

pre {
	margin: 0.5rem 0 16px;
	padding: 0.8rem 1rem 0.9rem;
	overflow: auto;
	background: #282a36;
	border-radius: 4px;
}

:not(pre) > code {
	padding: 0.1em 0.3em;
	color: #db4c69;
	background: #f9f2f4;
	border-radius: 0.3em;
	white-space: pre-wrap;
}


hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

.auto-grid {
	--at-apply: grid;

	&-sm {
		gap: var(--grid-spacing);
		--at-apply: grid sm:grid-cols-2;
	}

	&-md {
		gap: var(--grid-spacing);
		--at-apply: grid sm:grid-cols-2 md:grid-cols-3;
	}

	&-lg {
		gap: var(--grid-spacing);
		--at-apply: grid sm:grid-cols-2 md:grid-cols-3;
	}

	&-xl {
		gap: var(--grid-spacing);
		--at-apply: grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
	}

	&-full {
		gap: var(--grid-spacing);
		--at-apply: grid xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5;
	}

	&-none {
		gap: var(--grid-spacing);
		--at-apply: grid xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6;
	}
}


/* MARKDOWN HTML */
.richtext {
	a:not([class]) {
		padding-bottom: 0.1em;
		background: linear-gradient(90deg, currentColor, currentColor) no-repeat right bottom / 0 var(--bg-h);
		transition: background-size 350ms;
		--bg-h: 0.1em;

		&:where(:hover, :focus-visible) {
			background-size: 100% var(--bg-h);
			background-position-x: left;
		}
	}

	&:not(.dense) {
		*+p {
			--at-apply: pt-4;
		}
	}

	p {
		--at-apply: text-lg;
	}

	&:not(.no-lead) {
		p:first-of-type {
			--at-apply: text-xl;
		}
	}

	*+*:is(h2, h3, h4, h5, h6) {
		--at-apply: pt-8;
	}

	h2 {
		--at-apply: text-3xl font-extrabold sm:text-4xl;
		text-wrap: balance;

		strong {
			--at-apply: block text-xs font-light uppercase tracking-widest;
		}
	}

	h3 {
		--at-apply: text-2xl font-extrabold sm:text-3xl;
		text-wrap: balance;
	}

	h4 {
		--at-apply: text-xl font-bold sm:text-2xl;
		text-wrap: balance;
	}

	h5 {
		--at-apply: text-lg font-bold leading-none sm:text-xl;
		text-wrap: balance;
	}

	h6 {
		--at-apply: text-lg font-bold leading-none;
		text-wrap: balance;
	}

	p {
		text-wrap: balance;
	}

	table {
		--at-apply: my-8 w-full;
	}

	code {
		--at-apply: rounded-md bg-gray-600 bg-opacity-20 px-1 py-0.5;
	}

	pre {
		--at-apply: my-4 inline-block w-full max-w-full rounded-md p-4;
	}

	pre>code {
		all: unset;
	}

	blockquote {
		--at-apply: mx-0 my-8 border-l-4 border-primary py-0 pl-8 pr-0 text-2xl font-semibold italic;
	}

	ul:not([class]) {
		--at-apply: list-disc;
	}

	ol:not([class]) {
		--at-apply: list-decimal;
	}

	ul:not([class]),
	ol:not([class]) {
		--at-apply: my-8 ml-6 list-outside text-lg leading-tight;

		li {
			--at-apply: py-2;
			text-wrap: balance;

			&::marker {
				--at-apply: text-primary;
			}
		}

		ul,
		ol {
			--at-apply: my-1 ml-4;
		}
	}
}



a.link-underline {
	padding-bottom: 0.1em;
	background: linear-gradient(90deg, currentColor, currentColor) no-repeat right bottom / 0 var(--bg-h);
	transition: background-size 350ms;
	--bg-h: 0.1em;

	&:where(:hover, :focus-visible) {
		background-size: 100% var(--bg-h);
		background-position-x: left;
	}
}