---

---

<div>
  <slot />
</div>
<style lang="scss" is:global>
  body {
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 16px;
    line-height: 1.4;
  }

  .scrollbar-base {
    &.os-scrollbar {
      transition:
        width 0.15s ease-in-out,
        height 0.15s ease-in-out,
        opacity 0.15s,
        visibility 0.15s,
        top 0.15s,
        right 0.15s,
        bottom 0.15s,
        left 0.15s;
      pointer-events: unset;

      &.os-scrollbar-horizontal {
        padding-top: 4px;
        padding-bottom: 4px;
        height: 16px;

        .os-scrollbar-track {
          .os-scrollbar-handle {
            height: 4px;
            border-radius: 4px;
          }
        }

        &:hover {
          .os-scrollbar-track {
            .os-scrollbar-handle {
              height: 8px;
            }
          }
        }

        &.px-2 {
          padding-left: 8px;
          padding-right: 8px;
        }
      }

      &.os-scrollbar-vertical {
        padding-left: 4px;
        padding-right: 4px;
        width: 16px;

        .os-scrollbar-track {
          .os-scrollbar-handle {
            width: 4px;
            border-radius: 4px;
          }
        }

        &:hover {
          .os-scrollbar-track {
            .os-scrollbar-handle {
              width: 8px;
            }
          }
        }

        &.py-1 {
          padding-top: 4px;
          padding-bottom: 4px;
        }
      }
    }
  }

  .scrollbar-auto {
    &.os-scrollbar {
      --os-handle-bg: var(--scrollbar-bg);
      --os-handle-bg-hover: var(--scrollbar-bg-hover);
      --os-handle-bg-active: var(--scrollbar-bg-active);
    }
  }

  .scrollbar-dark {
    &.os-scrollbar {
      --os-handle-bg: var(--scrollbar-bg-dark);
      --os-handle-bg-hover: var(--scrollbar-bg-hover-dark);
      --os-handle-bg-active: var(--scrollbar-bg-active-dark);
    }
  }

  .scrollbar-light {
    &.os-scrollbar {
      --os-handle-bg: var(--scrollbar-bg-light);
      --os-handle-bg-hover: var(--scrollbar-bg-hover-light);
      --os-handle-bg-active: var(--scrollbar-bg-active-light);
    }
  }

  @keyframes fade-in-up {
    0% {
      transform: translateY(2rem);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .onload-animation {
    opacity: 0;
    animation: 300ms fade-in-up;
    animation-fill-mode: forwards;
  }

  #navbar {
    animation-delay: 0ms;
  }

  #sidebar {
    animation-delay: 100ms;
  }

  #content-wrapper {
    animation-delay: var(--content-delay);
  }

  .footer {
    animation-delay: 400ms;
  }

  #banner-credit {
    animation-delay: 400ms;
  }

  * {
    box-sizing: border-box;
  }
</style>
