---
import DocLayout from "@/layouts/DocLayout.astro";
---


<DocLayout>
    <div class="hero-wave"></div>
    <article class="inner-container">archive</article>

    <style>
        .inner-container {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            max-width: 1300px;
        }
    </style></DocLayout
>
