---

import DocLayout from "@/layouts/DocLayout.astro";
import Archive from "@/components/docs/Archive/index.vue";

---

<DocLayout>
    <div class="hero-wave"></div>
    <div class="container mt-10 flex grow">
        <Archive client:load  />
    </div>

    <style>

    </style>
</DocLayout>
