---

import DocLayout from "@/layouts/BaseLayout.astro";


---

<DocLayout>
    <div class="hero-wave"></div>
    <div class="container mt-10 flex grow">
     
    </div>

    <style>

    </style>
</DocLayout>
