---

---

<div>
  <slot />
</div>

<style lang="scss" is:global>
  @use '@/styles/global.scss';
  @use 'sass:string';
  @use 'sass:list';
  @use 'sass:map';
  @use 'sass:color';
  @use 'sass:math';
  @use 'sass:meta';
</style>
