---
import Init from "@/components/common/Init.vue";
import Footer from "@/components/common/GlobalFooter.astro";
import Header from "./docs/Header.astro";
import BaseLayout from "./BaseLayout.astro";
import Container from "./docs/Container.astro";
---

<BaseLayout>
    
        <Header />
        <Container defaultPadding={true}>
            <div class="mb-8">
                <article class="text-black dark:text-white">
                    <h2 class="text-3xl font-bold leading-normal"></h2>
                    <div class="mt-6">
                        <slot />
                    </div>
                </article>
            </div>
    
            <slot name="comment" />
        </Container>
        <Footer />
        <Init client:idle />
        <script>
            const html = document.getElementsByTagName("html")[0];
            const SmoothScroll = () => {
                html.style["scroll-behavior"] = "auto";
            };
            SmoothScroll();
            document.addEventListener("astro:beforeload", SmoothScroll);
        </script>
        <slot name="body-end" />
    
    <style lang="scss" is:global></style>
</BaseLayout>
