---
import BaseLayout from './BaseLayout.astro';
import DocNav from './docs/DocNav.astro';
import DocContent from './docs/DocContent.astro';
import DocFooter from './docs/DocFooter.astro';
interface Props {
  title: string;
  description?: string;
  hasSidebar?: boolean;
}
---

<BaseLayout title={Astro.props.title} description={Astro.props.title} htmlClass={'doc'}>
  <div class="doc_layout" :class="frontmatter.pageClass">
    <DocNav />
    <DocContent><slot /></DocContent>
    <DocFooter />
  </div>
</BaseLayout>
<style lang="scss" is:global>
  .doc_layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>
