---
import Init from "@/components/common/Init.vue";

import Header from "./docs/Header.astro";
import Footer from "./docs/Footer.astro";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
    <Header />
    <slot name="beforeContainer" />
    <main class="container mx-auto pt-5" transition:animate="fade">
        <slot />
    </main>
    <Footer />
    <div class="pointer-events-none fixed bottom-0 right-0 z-50 w-full">
        <div class="xl:container flex justify-end pb-4">
            <a
                href="#top"
                aria-label="back_to_top"
                class="btn btn-icon surface-primary btn-to-top pointer-events-auto opacity-0"
            >
                <div class="w-6 i-mdi-arrow-up-thick"></div></a
            >
        </div>
    </div>
    <Init client:idle />
    <script>
        const html = document.getElementsByTagName("html")[0];
        const SmoothScroll = () => {
            html.style["scroll-behavior"] = "auto";
        };
        SmoothScroll();
        document.addEventListener("astro:beforeload", SmoothScroll);
    </script>
</BaseLayout>
