---
import Init from "@/components/common/Init.vue";
import BaseHead from "@/components/BaseHead.astro";
import Header from "./docs/Header.astro";
import Footer from "./docs/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <!-- favicon -->
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    </head>
    <body>
        <Header />
        <main class="container mx-auto pt-5" transition:animate="fade">
            <slot />
        </main>
        <Footer />
        <div class="pointer-events-none fixed bottom-0 right-0 z-50 w-full">
            <div class="xl:container flex justify-end pb-4">
                <a
                    href="#top"
                    aria-label="back_to_top"
                    class="btn btn-icon surface-primary btn-to-top pointer-events-auto opacity-0"
                >
                    <div class="w-6 i-mdi-arrow-up-thick"></div></a
                >
            </div>
        </div>
        <Init client:idle="vue" />
        <script>
            const html = document.getElementsByTagName("html")[0];
            const SmoothScroll = () => {
                html.style["scroll-behavior"] = "auto";
            };
            SmoothScroll();
            document.addEventListener("astro:beforeload", SmoothScroll);
        </script>
    </body>
</html>
