---
import ImageWrapper from "@components/ImageWrapper.astro";
import BaseLayout from "./BaseLayout.astro";
import ConfigCarrier from "./components/ConfigCarrier.astro";
import {  siteConfig } from '@/config'
---

<BaseLayout>
    <ConfigCarrier></ConfigCarrier>
		<div id="banner-wrapper" class="absolute w-full transition-all duration-700">
			<ImageWrapper id="boxtest" alt="Banner image of the blog" class:list={["object-cover h-full", {"hidden": !siteConfig.banner.enable}]}
					  src={siteConfig.banner.src} position={siteConfig.banner.position}
			>
			</ImageWrapper>
		</div>
		<slot />
  
</BaseLayout>
<style lang="scss" is:global></style>