---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from "@components/common/FormattedDate.astro";
import BaseLayout from "./DocLayout.astro";
import Container from "./docs/Container.astro";
import Header from "./docs/Header.astro";
import GlobalFooter from '@components/common/GlobalFooter.astro';

type Props = CollectionEntry<'docs'>['data'];
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout class="home">
  <Header />
	<div>
		<div class="mb-8">
			<article class="text-black dark:text-white">
				<h2 class="text-3xl font-bold leading-normal"></h2>
				<div class="mt-4">
					<FormattedDate class="opacity-60" date={pubDate} />
					{updatedDate && <span class="opacity-60">(Last updated on <FormattedDate date={pubDate}/>)</span>}
				</div>
				<div class="mt-6">
					<slot />
        </div>
			</article>
		</div>
		<slot name="comment" />
	</div>
	<GlobalFooter />
</BaseLayout>